<template>
  <div class="configure-connection">
    <div class="form-field">
      <label for="connectionUrl">Connection Url</label>
      <input type="text" name="connectionUrl" v-model="config.servers.local.uri">
    </div>
    <button class="icon-button" @click="saveConfig"><i class="material-icons">save_alt</i></button>
  </div>
</template>

<script>
import electron from 'electron'
import settings from 'electron-settings'

export default {
  mounted () {
    this.config = settings.get('elastic')
  },
  data:  () => {
    return {
      config: {
        servers: {
          local: {
            uri: 'http://localhost:9200'
          }
        },
        selected: 'local'
      }
    }
  },
  methods: {
    saveConfig() {
      settings.set('elastic', this.config)
      electron.remote.getCurrentWindow().reload()
    }
  }
}
</script>

<style scoped>
  .configure-connection {
    align-self: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
</style>
