<template>
    <ul :id="id" class="context-menu" v-click-outside="onClickOutside">
        <template v-for="option in options">
        <li v-bind:key="option.name" v-on:click="optionClicked(option)" class="context-menu-item">
            {{option.name}}
        </li>
        </template>
    </ul>
</template>

<script>

export default {
    props: {
        id: {
            type: String,
            required: true
        },
        options: {
            type: Array,
            required: true
        }
    },
    data () {
        return {
            menuWidth: null,
            menuHeight: null
        }
    },
    computed: {
    },
    methods: {
        showMenu (event) {
            var menu = document.getElementById(this.id)
            if (!menu) {
                return
            }

            if(!this.menuWidth || !this.menuHeight) {
                menu.style.visibility = "hidden"
                menu.style.display = "block"
                this.menuWidth = menu.offsetWidth
                this.menuHeight = menu.offsetHeight
                menu.removeAttribute("style")
            }

            let left = event.currentTarget ? event.currentTarget.offsetLeft + event.currentTarget.offsetWidth : event.pageX;

            if ((this.menuWidth + left) >= window.innerWidth) {
                menu.style.left = (left - this.menuWidth + 2) + "px"
            } else {
                menu.style.left = (left - 2) + "px"
            }

            let top = event.currentTarget ? event.currentTarget.offsetTop + event.currentTarget.offsetHeight : event.pageY;

            if ((this.menuHeight + top) >= window.innerHeight) {
                menu.style.top = (top - this.menuHeight + 2) + "px"
            } else {
                menu.style.top = (top - 2) + "px"
            }

            menu.classList.add('context-menu-active')
        },
        hideContextMenu () {
            let element = document.getElementById(this.id)
            if (element) {
                element.classList.remove('context-menu-active');
            }
        },
        onClickOutside (event) {
            this.hideContextMenu()
        },
        optionClicked (option) {
            this.hideContextMenu()
            this.$emit('optionClicked', {
                option: option
            })
        }
    }
}
</script>

<style scoped>

    .context-menu {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
        position: absolute;
        z-index: 1000000;
        background-color: #ECF0F1;
        border-bottom-width: 0px;
        box-shadow: 1px 1px 6px 0 #333;
    }

    .context-menu-active {
        display: block;
    }

    .context-menu-item {
        display: flex;
        color: #333;
        cursor: pointer;
        padding: 5px 15px;
        align-items: center;
        white-space: nowrap;
    }

    .context-menu-item:hover {
        background-color: #3482B5;
        color: white;
    }
</style>