<template>
  <div class="index-view flex layout-column">
    <div class="tabs">
      <div class="tab" :class="{ 'tab-selected': activePage=='search' }" @click="activePage='search'">Search</div>
      <div class="tab" :class="{ 'tab-selected': activePage=='mapping' }" @click="activePage='mapping'">Mapping</div>
      <div class="tab" :class="{ 'tab-selected': activePage=='stats' }" @click="activePage='stats'">Stats</div>
    </div>
    <div class="tab-content flex layout-column">
      <documents class="tab-content flex layout-column" v-bind:index="index" v-show="activePage=='search'"></documents>
      <mapping class="tab-content" v-bind:index="index" v-show="activePage=='mapping'"></mapping>
      <stats class="tab-content" v-bind:index="index" v-show="activePage=='stats'"></stats>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Documents from './IndexView/Documents'
  import Mapping from './IndexView/Mapping'
  import Stats from './IndexView/Stats'

  export default {
    components: {
      Documents,
      Mapping,
      Stats
    },
    props: ['index'],
    beforeCreate () {
      this.$store.dispatch('fetchIndex', { index: this.$options.propsData.index })
    },
    mounted () {
      this.activePage = 'search'
    },
    data: () => {
      let me = this;
      let indexName = this ? this.index : '';
      return {
        activePage: 'search',
        indexName: indexName
      }
    },
    methods: {
      deleteIndex (index) {
        this.$store.dispatch('deleteIndex', { index: index })
      }
    }
  }
</script>

<style scoped>
</style>