<template>
  <div class="index-view flex layout-column">
    <div class="tabs">
      <div class="tab" :class="{ 'tab-selected': activePage=='indices' }" @click="activePage='indices'">Indices</div>
      <div class="tab" :class="{ 'tab-selected': activePage=='stats' }" @click="activePage='stats'">Stats</div>
    </div>
    <div class="tab-content flex layout-column">
      <indices class="tab-content" v-show="activePage=='indices'"></indices>
      <global-stats class="tab-content" v-show="activePage=='stats'"></global-stats>
    </div>
  </div>
</template>

<script>
  import Nodes from './WelcomeView/Nodes'
  import Indices from './WelcomeView/Indices'
  import GlobalStats from './WelcomeView/GlobalStats'

  export default {
    name: 'welcome',
    components: {
      Nodes,
      Indices,
      GlobalStats
    },
    beforeCreate () {
      this.$store.dispatch('fetchStats')
      this.$store.dispatch('fetchAliases')
      this.$store.dispatch('fetchIndices')
    },
    data () {
      return {
        activePage: 'indices'
      }
    },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style scoped>
  .centered
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo
  {
    max-width: 100%;
  }

  .link-btn
  {
    width: 150px;
  }

  .index-tree {
    height: 200px;
  }
</style>
