<template>
  <div class="stats-view flex layout-column scrollbox">
    <pre v-html="stats.stats"></pre>
  </div>
</template>

<script>
  import json from 'format-json'
  import Prism from 'prismjs'

  export default {
    data: () => {
      return {
        stats: {}
      }
    },
    asyncData: {
      stats () {
        return this.$store.state.Elastic.stats
          .then(result => {
            return {
              stats: Prism.highlight(json.plain(result), Prism.languages.json)
            };
          })
      },
      statsDefault: {
        stats: {}
      } // default value
    }
  }
</script>

<style scoped>
  .stats-view {
    background-color: rgba(0,0,0,0.4);
  }
</style>