<template>
  <div class="item flex layout-column">
    <div class="flex layout-column scrollbox">
      <div class="list-items">
        <template v-for="index in indexing">
          <div class="index-list-item" v-bind:key="index.name" v-on:click="openIndex(index.name)">
            <div v-html="index.name"></div>
            <div v-html="`Documents: ${index.stats.total.docs.count}, Aliases: ${index.aliases}`"></div>
          </div>
        </template>
      </div>
    </div>
    <button class="fab-button new-index-btn" @click="newIndex">
      <i class="white-label material-icons">add</i>
    </button>
  </div>
</template>

<script>
  export default {
    asyncData: {
      aliases () {
        return this.$store.state.Elastic.aliases.then(indices => Object.keys(indices)
          .map(i => indices[i].aliases)
          .reduce((acc, next) => acc.concat(Object.keys(next)), []))
      },
      indices () {
        return this.$store.state.Elastic.indices.then(resp => Object.keys(resp.indices)
          .map(i => { return { name: i, info: resp[i] } }))
      },
      indexing () {
        return Promise.all([this.$store.state.Elastic.aliases, this.$store.state.Elastic.indices, this.$store.state.Elastic.stats])
          .then(results => {
            let aliases = results[0]
            let stats = results[2]
            let indices = Object.keys(results[1].indices).map(i => {
              let indexInfo = {
                name: i,
                info: results[1].indices[i].total.indexing,
                aliases: Object.keys(aliases[i].aliases),
                stats: stats.indices[i]
              }

              // console.log(JSON.stringify(indexInfo))
              return indexInfo
            })
            return indices
          })
      },
      indexingDefault: {} // default value
    },
    methods: {
      openIndex (index) {
        this.$router.push({ name: 'index-view', params: { index: index } })
        console.log(index)
      },

      newIndex () {
        console.log('new index')
        this.$router.push({ name: 'create-index', params: { } })
      }
    }
  }
</script>

<style scoped>

  .scrollbox {
    height: 100%;
  }

  .new-index-btn {
    font-size: x-large;
  }

  .item {
    height: 100%;
  }

  .list-items {
    width: 100%
  }

  .index-list-item {
    padding: 4px;
    background-color: rgba(245, 245, 245, 0.3);
    margin-bottom: 1px;
  }

  .index-list-item:hover
  {
    background-color: rgb(115, 186, 228);
    color: black;
    cursor: pointer;
  }

  .index-list-item:hover *
  {
    color: black;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
