<template>
  <el-card>
    <div class="headline">
      Nodes
    </div>
    <div class="line"></div>

        <div class="name">Nodes:</div>
        <div class="value">{{ nodes ? nodes.total : 0 }}</div>

  </el-card>
</template>

<script>
  export default {
    beforeCreate () {
      this.$store.dispatch('fetchNodes')
    },
    asyncData: {
      nodes () {
        return this.$store.state.Elastic.nodes.then(nodes => nodes._nodes)
      },
      nodesDefault: {} // default value
    }
  }
</script>

<style scoped>
  .item
  {
    text-align: center;
  }

  .name
  {
    display: inline;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .value
  {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
  }
</style>
