<template>
  <div wait-for="async-data" class="flex layout-row">
    <div class="flex layout-column">
      <div class="item">
        <div class="name">Cluster:</div>
        <div class="value">{{ elasticInfo.cluster_name }}</div>
      </div>
      <div class="item">
        <div class="name">Name:</div>
        <div class="value">{{ elasticInfo.name }}</div>
      </div>
    </div>
    <div class="flex layout-column">
      <div class="item">
        <div class="name">Version:</div>
        <div class="value">{{ elasticInfo.version ? elasticInfo.version.number : 0 }}</div>
      </div>
      <div class="item">
        <div class="name">Nodes:</div>
        <div class="value">{{ elasticNodes ? elasticNodes.total : 0 }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    asyncData: {
      elasticInfo () {
        return this.$store.state.Elastic.info
      },
      elasticInfoDefault: {
        version: {},
        cluster_name: '',
        name: ''
      }, // default value
      elasticNodes () {
        return this.$store.state.Elastic.nodes
      },
      elasticNodesDefault: {
        total: 0
      }
    }
  }
</script>

<style scoped>
  .item
  {
    text-align: left;
    display: inline-block;
    font-size: smaller;
    color: whitesmoke;
  }

  .name
  {
    display: inline;
    font-style: italic;
    letter-spacing: 1px;
    color: lightblue;
  }

  .value
  {
    display: inline;
    font-style: italic;
    padding-left: 5px;
  }
</style>
