<template>
  <div class="flex layout-column">
    <div class="layout-row toolbar">
      <button class="icon-button" @click="createDocument">
          <i class="white-label material-icons">save_alt</i>
      </button>
      <button class="icon-button right-align" @click="cancel()">
        <i class="white-label material-icons">clear</i>
      </button>
    </div>
    <div class="type-name-container layout-column">
      <input type="text" v-model="typeName" placeholder="type name">
    </div>
    <label>Document body:</label>
    <div class="flex editor-container layout-column">
      <json-editor class="flex layout-column editor-json" ref="documentBody"></json-editor>
    </div>
    <div class="op-result layout-column" v-if="hasOpResult">
      <pre v-html="operationResult"></pre>
    </div>
  </div>
</template>

<script>

  import Vue from 'vue'
  import JsonEditor from './JsonEditor'
  import Prism from 'prismjs'
  import 'prism-languages'
  import json from 'format-json'
  import { EventBus } from '../EventBus'

  export default {
    components: {
      JsonEditor
    },
    beforeCreate () {
    },
    mounted () {
      this.$nextTick(function () {
        // Code that will run only after the
        // entire view has been rendered
        this.$refs.documentBody.load(this.documentBody)
      })
    },
    data: () => {
      let me = this;
      return {
        operationResult: '',
        hasOpResult: false,
        indexName: '',
        documentBody: {}
      }
    },
    methods: {

      createIndex (tab, event) {
        console.log(tab, event);
        this.$store.dispatch('createDocument', {
          index: this.indexName,
          type: this.typeName,
          body: this.$refs.documentBody.getJson()
        }).then(r => {
          //this.$router.push({ name: 'welcome-view' })
        }).catch(r => {
          this.hasOpResult = true
          this.operationResult = r.response
        })
      },

      cancel () {
        //this.$router.push({ name: 'welcome-view' })
      }
    }
  }
</script>

<style scoped>

  .editor-container {
    position: relative;
  }

  .codeflask {
    display: flex;
    flex: 1;
    position: relative;
  }

  .op-result {
    background-color: #142635;
    height: 200px;
    color: lightsteelblue;
    overflow: auto;
    margin-bottom: 1px;
    padding-bottom: 4px;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

</style>
