<template>
  <div class="flex layout-column">
    <div class="layout-row toolbar">
      <button class="icon-button" @click="updateDocument">
          <i class="white-label material-icons">save_alt</i>
      </button>
      <button class="icon-button right-align" @click="closeDocument()">
        <i class="white-label material-icons">clear</i>
      </button>
    </div>
    <div class="flex editor-container layout-column">
      <json-editor class="flex layout-column editor-json" ref="documentEditor"></json-editor>
    </div>
    <div class="op-result layout-column" v-if="hasOpResult">
      <pre v-html="operationResult"></pre>
    </div>
  </div>
</template>

<script>

  import Vue from 'vue'
  import JsonEditor from './JsonEditor'
  import Prism from 'prismjs'
  import 'prism-languages'
  import json from 'format-json'
  import { EventBus } from '../../EventBus'

  export default {
    components: {
      JsonEditor
    },
    beforeCreate () {
    },
    mounted () {
    },
    data: () => {
      let me = this;
      return {
        operationResult: '',
        hasOpResult: false,
        document: {}
      }
    },
    asyncData: {
      document () {
        return this.$store.state.Elastic.currentDocument
          .then(result => {
            this.$refs.documentEditor.load(result._source)
            return result
          })
      }
    },
    methods: {

      updateDocument (tab, event) {
        console.log(tab, event);
        this.performUpdate()
      },

      closeDocument () {
        EventBus.$emit('closeDocument')
      },

      termSearch () {
        this.$refs.documentEditor.load(this.document)
      },

      applyDocument (data) {
        this.document = data;
      },

      performUpdate () {
        const elasticUri = 'http://localhost:9200'
        let documentData = { doc: this.$refs.documentEditor.getJson() };
        Vue.http.post(`${elasticUri}/${this.document._index}/${this.document._type}/${this.document._id}/_update`, documentData)
          .then(r => {
            console.log(r)
          })
      }
    }
  }
</script>

<style scoped>

  .editor-container {
    position: relative;
  }

  .codeflask {
    display: flex;
    flex: 1;
    position: relative;
  }

  .op-result {
    background-color: #142635;
    height: 200px;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

</style>
