<template>
  <div class="flex layout-column">
    <div class="flex layout-responsive" v-show="activePage=='search'">
      <div class="editor-container layout-column">
        <div class="layout-row toolbar">
          <button class="icon-button" title="Execute query" @click="performQuery">
              <i class="white-label material-icons">play_arrow</i>
          </button>
          <div class="toolbar-text">{{ index }}</div>
          <button class="icon-button right-align" title="More index actions" @click.prevent.stop="handleClick($event, this)">
            <i class="white-label material-icons">more_vert</i>
          </button>
        </div>
        <json-editor class="editor-json" ref="queryEditor"></json-editor>
      </div>
      <div class="search-result flex layout-column">
        <div class="tab-content flex layout-column">
          <div class="tab-page tab-json flex layout-column" v-if="resultTab=='json'">
            <pre v-html="searchResult"></pre>
          </div>
          <div class="tab-page tab-grid flex" v-if="resultTab=='grid'">
            <ag-grid-vue
              class="result-grid ag-theme-material"
              style="height: 100%; width: 100%;"
              :gridOptions="gridOptions"
              :gridReady="onGridReady"
              :rowDoubleClicked="onGridRowDblClick">
            </ag-grid-vue>
          </div>
        </div>
        <div class="tabs">
          <div class="tab" :class="{ 'tab-selected': resultTab=='json' }" @click="changetab('json')">Json</div>
          <div class="tab" :class="{ 'tab-selected': resultTab=='grid' }" @click="changetab('grid')">Grid</div>
        </div>
      </div>

      <button class="fab-button new-index-btn" @click="newDocument">
        <i class="white-label material-icons">add</i>
      </button>
    </div>

    <div class="flex layout-column" v-if="activePage=='document'">
      <document></document>
    </div>

    <context-menu
        id="moremenu"
        :options="options"
        ref="contextMenu"
        @optionClicked="optionClicked">
    </context-menu>
  </div>
</template>

<script>

  import Vue from 'vue'
  import JsonEditor from './JsonEditor'
  import Document from './Document'
  import Prism from 'prismjs'
  import 'prism-languages'
  import json from 'format-json'
  import { AgGridVue } from 'ag-grid-vue'
  import { EventBus } from '../../EventBus'
  import ContextMenu from '../ContextMenu'

  export default {
    components: {
      JsonEditor,
      AgGridVue,
      Document,
      ContextMenu
    },
    props: ['index'],
    beforeCreate () {
      EventBus.$on('closeDocument', () => {
        this.activePage = 'search'
      })
    },
    created () {
      this.fetchIndex()
      window.addEventListener('resize', this.gridResize);
    },
    destroyed () {
      window.removeEventListener('resize', this.gridResize);
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchIndex'
    },
    activated () {
      console.log(arguments);
    },
    updated () {
      console.log(arguments);
    },
    mounted () {
      this.matchAllSearch()
      this.activePage = 'search'
      let viewState = this.$store.getters.getViewState('Documents') || {}
      this.resultTab = viewState.resultTab || this.resultTab
    },
    data: () => {
      let me = this;
      let indexName = this ? this.index : '';
      return {
        isMenuOpen: false,
        activePage: 'search',
        resultTab: 'json',
        indexName: indexName,
        searchResult: '',
        documentid: '',
        documenttype: '',
        documentindex: '',
        document: {},
        searchData: {},
        gridOptions: {
          rowData:[]
        },
        options: [{
          name: 'Delete index'
        }]
      }
    },
    methods: {

      fetchIndex() {
        this.$store.dispatch('fetchIndex', { index: this.$options.propsData.index })
        this.updateIndexing(this.index).then(indexing => { this.indexing = indexing })
      },

      updateIndexing(indexName) {
        return this.$store.state.Elastic.currentIndex
          .then(result => {
            let indexInfo = result[indexName]
            // console.log(JSON.stringify(indexInfo))
            return {
              aliases: indexInfo.aliases,
              mappings: Prism.highlight(json.plain(indexInfo.mappings), Prism.languages.js),
              created: new Date(parseInt(indexInfo.settings.index.creation_date)).toLocaleString(),
              shards: indexInfo.settings.index.number_of_shards
            }
          })
      },

      changetab(tab) {
        this.resultTab = tab
        this.$store.commit('UpdateViewState', {
          Documents: {
            resultTab: tab
          }
        })
      },

      onGridReady(params) {
        console.log('ready');
        this.gridApi = params.api;
        this.setGridResult()
      },

      onGridRowDblClick(params) {
        console.log('grid dbl clicked');
        Vue.nextTick(() => this.openDocument(params.data.id, params.data.type, params.data.index))
      },

      openDocument (id, type, index) {
        this.documentid = id;
        this.documenttype = type;
        this.documentindex = index;
        this.$store.dispatch('fetchDocument', {
          index: index,
          type: type,
          documentid: id
        })
        this.$store.state.Elastic.currentDocument
          .then(result => {
            this.activePage = 'document'
          })
      },

      newDocument () {

      },

      autoSizeAll() {
        if (!this.gridOptions.api) return;
        let allColumnIds = this.gridOptions.columnApi.getAllColumns().map(column => column.colId)
        this.gridOptions.columnApi.autoSizeColumns(allColumnIds)
      },

      setGridResult () {
        let data = this.searchData.data
        if (this.gridOptions.api && data) {
          let cols = [{headerName: 'Id', field: 'id'}], rows = [];
          const reducer = (accu, curr) => {
            return this.$_.extend(accu, curr._source)
          }

          const isObject = (value) => {
            return value != null && typeof value === 'object' && typeof value !== 'function'
          }

          if (data.hits.hits.length > 0) {
            let reducedFields = data.hits.hits.reduce(reducer, {})
            let reducedFieldNames = Object.keys(reducedFields)

            let restCols = reducedFieldNames.map(key => {
              let col = { headerName: key, field: key };
              if (isObject(reducedFields[key]))
                col.subFields = Object.keys(reducedFields[key])
              return col
            })
            restCols.forEach(col => {
              if (Array.isArray(col.subFields))
                col.subFields.forEach(subCol => {
                  let field = `${col.field}.${subCol}`
                  cols.push({ headerName: field, field: field });
                })
              else
                cols.push(col);
            })
            rows = data.hits.hits.map(hit => this.$_.extend({ id: hit._id, type: hit._type, index: hit._index }, hit._source))
          }
          this.gridOptions.api.setColumnDefs(cols)
          this.gridOptions.api.setRowData(rows)
          this.autoSizeAll()
        }
      },

      handleClick (event) {
        this.$refs.contextMenu.showMenu(event)
      },

      optionClicked (event) {
        if (event.option.name == 'Delete index')
          this.deleteIndex(this.index)
      },

      matchAllSearch () {
        this.$refs.queryEditor.load({
          query: {
            match_all: {}
          },
          from : 0,
          size : 10,
          sort: [],
          _source: [],
          explain: true
        })
      },

      termSearch () {
        this.$refs.queryEditor.load({
          from: 0,
          size: 10,
          _source: [ 'status' ],
          sort: [{ 'status': { order: 'desc' } }],
          query: {
            term: { 'status': 'new' }
          }})
      },

      applySearchData (data) {
        this.searchData.data = data;
      },

      performQuery () {
        const elasticUri = 'http://localhost:9200'
        let jsonQuery = this.$refs.queryEditor.getJson()
        Vue.http.post(`${elasticUri}/${this.index}/_search`, jsonQuery)
          .then(r => {
            // console.log(r.data)
            this.applySearchData(r.data)
            this.setGridResult()
            this.searchResult = Prism.highlight(json.plain(r.data), Prism.languages.json)
          })
      },

      deleteIndex (index) {
        this.$store.dispatch('deleteIndex', { index: index }).then(() => {
          this.$router.push({ name: 'welcome-view' })
        });
      }
    }
  }
</script>

<style scoped>

  .layout-responsive {
    flex-flow: row;
    display: flex;
  }

  .editor-container {
    width: 300px;
    display: flex;
    border-right: 4px solid rgba(0,0,0,0.4);
  }

  @media only screen and (max-width: 600px) {
    .layout-responsive {
      flex-flow: column;
    }

    .editor-container {
      height: 300px;
      width: auto;
      border-right: none;
    }
  }

  .popup-menu {
    position: absolute;
    background-color: #333540;
  }

  .tab-grid {
    overflow: hidden;
  }

  .tab-json {
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .codeflask {
    height: 300px;
  }

  .settings-label {
    color: lightskyblue;
  }

  .settings-value {
    margin-right: 30px;
  }

  .query-result {
    background-color: #6385a1;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

  .toolbar-text {
    display: inline;
    justify-self: right;
    color: powderblue;
    flex: 1;
  }
</style>
