<template>
  <div class="flex layout-column">
    <!--<button @click="format({ test: 'test' })">format</button>-->
    <div class="flex" style="position:relative" :id="id"></div>
  </div>
</template>

<script>
  import 'prismjs'
  import CodeFlask from 'codeflask'
  import json from 'format-json'
  import safeEval from 'safe-eval'

  export default {
    data: () => {
      return {
        id: 'json-editor-' + Math.random().toString(36).substr(2, 9)
      }
    },
    mounted () {
        this.editor = new CodeFlask(`#${this.id}`, {
          language: 'json'
        })
    },
    methods: {
      format () {
        let jsonObject = safeEval(this.editor.getCode())
        this.editor.updateCode(json.plain(jsonObject))
      },
      load (jsonObject) {
        this.editor.updateCode(json.plain(jsonObject))
      },
      getJson () {
        return safeEval(this.editor.getCode())
      }
    }
  }
</script>