<template>
  <div class="mapping-view flex layout-column scrollbox">
    <pre v-html="indexing.mappings"></pre>
  </div>
</template>

<script>
  import json from 'format-json'
  import Prism from 'prismjs'

  export default {
    props: ['index'],
    components: {
    },
    beforeMount () {
    },
    created () {
      this.fetchIndex()
    },
    destroyed () {
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchIndex'
    },
    data: () => {
      return {
        indexing: {}
      }
    },
    methods: {
      fetchIndex() {
        this.$store.dispatch('fetchIndex', { index: this.$options.propsData.index })
        this.updateIndexing(this.index).then(indexing => { this.indexing = indexing })
      },

      updateIndexing(indexName) {
        return this.$store.state.Elastic.currentIndex
          .then(result => {
            let indexInfo = result[indexName]
            // console.log(JSON.stringify(indexInfo))
            return {
              aliases: indexInfo.aliases,
              mappings: Prism.highlight(json.plain(indexInfo.mappings), Prism.languages.js),
              created: new Date(parseInt(indexInfo.settings.index.creation_date)).toLocaleString(),
              shards: indexInfo.settings.index.number_of_shards
            }
          })
      }
    }
  }
</script>

<style scoped>
  .mapping-view {
    background-color: #333540;
  }
</style>