<template>
  <div class="stats-view flex layout-column scrollbox">
    <pre v-html="stats.stats"></pre>
  </div>
</template>

<script>
  import json from 'format-json'
  import Prism from 'prismjs'

  export default {
    props: ['index'],
    data: () => {
      return {
        stats: {}
      }
    },
    created () {
      this.fetchStats()
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchStats'
    },
    methods: {
      fetchStats() {
        this.$store.dispatch('fetchStats')
        this.updateStats().then(stats => { this.stats = stats })
      },

      updateStats() {
        return this.$store.state.Elastic.stats
          .then(result => {
            return {
              stats: Prism.highlight(json.plain(result.indices[this.index]), Prism.languages.json)
            };
          })
      }
    }
  }
</script>

<style scoped>
  .stats-view {
    background-color: #333540;
  }
</style>