<template>
    <div class="main-container flex layout-column">
      <header class="layout-row">
        <button v-if="connected" class="icon-button" title="Indices and aliases" @click="toggleMenu">
          <i class="white-label material-icons">menu</i>
        </button>
        <button v-if="connected" class="icon-button right-align" title="Start screen" @click="navigate('welcome-view')">
          <i class="white-label material-icons">home</i>
        </button>
        <button v-if="!connecting && !connected" class="icon-button right-align" title="Reconnect" @click="connect">
          <i class="white-label material-icons">home</i>
        </button>
      </header>
      <div class="flex layout-row content-container">
        <spinner v-if="connecting"></spinner>
        <div v-if="connected" class="aside" :class="{ 'show': drawer === true }">
          <div v-uitree="treeOptions" class="tree-view"></div>
        </div>
        <router-view v-if="connected"></router-view>
        <configure v-if="!connecting && !connected"></configure>
      </div>
      <footer>
        <system-information v-if="connected"></system-information>
        <span class="copyright">&copy; 2018 Helge Andersen</span>
      </footer>
    </div>
</template>

<script>
  import './directives/uitree'
  import MainMenu from './MainMenu'
  import SystemInformation from './components/WelcomeView/SystemInformation'
  import Configure from './components/Configure'
  import Spinner from './components/Spinner'
  import { EventBus } from './EventBus'

  export default {
    name: 'elastic-me',
    components: {
      SystemInformation,
      MainMenu,
      Configure,
      Spinner
    },
    beforeCreate () {

      EventBus.$on('togglenav', () => {
        this.drawer = !this.drawer
      })

      EventBus.$on('footerinfo', () => {
        this.drawer = !this.drawer
      })
    },
    created () {
      this.connect()
    },
    data: () => {
      return {
        clipped: false,
        hideOverlay: true,
        drawer: false,
        fixed: false,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'elastic',
        connecting: true,
        connected: false,
        aliases: [],
        indices: []
      }
    },
    computed: {
      routeName: {
        get: function () {
          let details = this.$route.params && this.$route.params.index ? ` - ${this.$route.params.index}` : ''
          return `${this.$route.name}${details}`
        }
      },
      treeOptions: {
        // getter
        get: function () {
          return {
            data: [{
              title: 'aliases',
              children: this.aliases ? this.aliases.map(a => ({
                title: a.name,
                type: 'alias',
                children: a.indices.map(i => ({ title: i, type: 'index' }))
              })) : []
            }, {
              title: 'indices',
              children: this.indices ? this.indices.map(i => ({ title: i.name, type: 'index' })) : []
            }],
            options: {
              initialLevel: 2,
              nodeRenderFn: this.menuItemRender,
              onSelect: this.onSelectFunc
            }
          }
        }
      }
    },
    methods: {
      connect () {
        this.$store.dispatch('fetchInfo').then(() => {
          this.connecting = false
          this.$store.dispatch('fetchAliases').then(this.setAliases)
          this.$store.dispatch('fetchIndices').then(this.setIndices)
          this.$store.dispatch('fetchNodes')
          this.$store.dispatch('fetchViewState')
          this.connected = true
        }).catch(error => {
          console.log(error)
          this.connecting = false
        });
      },
      setAliases (resp) {
        this.aliases = Object.keys(resp)
          .map(i => resp[i].aliases)
          .reduce((acc, next) => acc.concat(Object.keys(next)), [])
          .map(a => ({ name: a, indices: Object.keys(resp).filter(i => Object.keys(resp[i].aliases).indexOf(a) > -1) }))
      },
      setIndices (resp) {
        this.indices = Object.keys(resp.indices)
          .map(i => { return { name: i, info: resp[i], aliases: resp } })
      },
      navigate (name) {
        this.$router.push({ name: name })
      },
      toggleMenu () {
        this.drawer = !this.drawer
      },
      onSelectFunc (node, el) {
        if (node.type === 'index') {
          this.$router.push({ name: 'index-view', params: { index: node.title } })
        } else if (node.type === 'route') {
          this.$router.push({ name: node.name })
        }
        console.log(node)
      },
      menuItemRender (node, el) {
        if (node.title === 'home') {
          el.innerHTML = '<i class="material-icons icon">home</i>'
          return node.title
        }
        return node.title
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  /* Global CSS */

  header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header > * {
    margin-right: auto;
  }

  button {
    border: 0 none;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .right-align {
    margin-right: 0;
  }

  button:focus {outline:0;}

  .icon-button {
    background-color: transparent;
  }

  .form-field {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(209, 223, 236);
    display: inline-block;
    width: auto;
    text-align: left;
  }

  .form-field > label {
    font-size: x-small;
    display: block;
    color:#005279;
  }

  .form-field > input {
    display: block;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid rgb(209, 223, 236);
    width: auto;
    max-width: 90%;
    min-width: 300px;
  }

  .form-field > input:focus {
    border-bottom: 3px solid #0084c2;
  }

/* fab button */
  .fab-button {
    position: absolute;
    bottom: 100px;
    right: 30px;
    box-shadow: 2px 2px 4px #555;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #8c017a;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .fab-button:after {
    content: "";
    background: #8c017a;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 200%;
    padding-left: 200%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .fab-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .fab-button:hover {
    background-color: #b85aa2;
    box-shadow: 2px 2px 5px #555;
  }

  .fab-button * {
    vertical-align: middle;
    margin-top: -4px;
  }

/* end fab button */

  .white-label {
    color: whitesmoke;
  }

  .tabs {
    display: flex;
    flex-flow: row;
    border-bottom: 4px solid rgba(0,0,0,0.4);
  }

  .tab {
    display: flex;
    text-align: center;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    color: white;
    border-bottom: 4px transparent;
    margin-bottom: -4px;
  }

  .tab:hover {
    background-color: rgb(30, 170, 200);
  }

  .tab-selected {
    border-bottom: 4px solid rgb(67, 202, 255);
  }

  .flex {
    display: flex;
    flex: 1;
  }

  .layout-column {
    flex-flow: column;
    display: flex;
  }

  .layout-row {
    flex-flow: row;
    display: flex;
  }

  .scrollbox {
    overflow: auto;
  }

  .main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .content-container {
    flex: 1;
    background-image: linear-gradient(rgba(2,119,189,0.4), rgba(67,160,71,0.4));;
  }

  header, footer {
    background-color: #142635;
  }

  footer {
    width: 100%;
    bottom: 0;
    background-color: #005b38;
  }

  .toolbar {

  }

  .aside {
    width: 0;
    height: 100%;
    overflow: hidden;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: black 0 0 10px;
    background-color: steelblue;
    position: relative;
  }

  .aside.show {
    width: 200px;
    overflow: auto;
  }

  .tree-view {
    color: white;
  }

  .tree-view .tree-node-parent.collapsed::before {
    border-left-color:white;
    border-top-color: transparent;
  }

  .tree-view .tree-node-parent::before {
    border-top-color:white;
  }

  .tree-view .tree-node {
    font: inherit;
  }

  .app-container {
    padding: 0;
  }

  .copyright {
    float: right;
    color: whitesmoke;
    font-size: smaller;
  }

  .codeflask {
    background: rgba(255,255,255,0.6) !important;
    color: black !important;
  }

  .codeflask__textarea {
    color: transparent !important;
  }

  .ag-theme-material {
    background-color: rgba(255,255,255,0.4);
  }

  .ag-theme-material .ag-row {
    border-bottom: none;
    margin-bottom: 1px;
  }

  .ag-theme-material .ag-ltr .ag-cell-focus {
    border: none;
  }

  input {
    font-size: 1rem;
    padding: 4px;
  }

  label {
    color: white;
    padding: 4px;
  }

  body {
    background-image: url('assets/background.jpg');
  }

  html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }
</style>
