<template>
  <v-toolbar fixed app :clipped-left="clipped">
    <v-toolbar-side-icon @click.native.stop="toggleNav()"></v-toolbar-side-icon>
    <span>{{ routeName }}</span>
    <v-spacer></v-spacer>
    <v-menu bottom left>
      <v-btn icon slot="activator">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile v-on:click="deleteAll">
          <v-list-tile-title>Delete all</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>
import { EventBus } from './EventBus'

export default {
  data: () => {
    return {
      drawer: false,
      clipped: false
    }
  },
  computed: {
    routeName: {
      get: function () {
        let details = this.$route.params && this.$route.params.index ? ` - ${this.$route.params.index}` : ''
        return `${this.$route.name}${details}`
      }
    }
  },
  methods: {
    toggleNav () {
      EventBus.$emit('togglenav')
    },
    deleteAll () {
      EventBus.$emit('deleteall')
    }
  }
}
</script>
