.token.punctuation {
  color: gainsboro;
}

.token.property {
  color: lightcyan;
}

.token.string {
  color: lightgreen;
}

.token.number,
.token.boolean {
  color: aqua;
}

.token.operator {
  color: white;
}